### CDK-specific ignores ###
*.swp
cdk.context.json
package-lock.json
yarn.lock
.cdk.staging
cdk.out
userdata

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Dependency directories
node_modules/

# self signed certificates
*.pem
*.key
*.csr
*.srl
